<p>
    <br><br><br>
    <div>
        <a href="/" class="btn btn-outline-primary">Enlace a Inicio</a>        
        <a href="/static/services" class="btn btn-outline-primary">Enlace a Servicios</a>
        <a href="/static/contactus" class="btn btn-outline-success">Enlace a Contactenos</a>
        <a href="/static/aboutus" class="btn btn-outline-warning">Enlace a Acerca de</a>
        <a href="/static/faq" class="btn btn-outline-warning">FAQ</a>
        <a href="/static/busquedacitas" class="btn btn-outline-warning">Busqueda de Citas</a>
        <a href="/static/detalledepartamento" class="btn btn-outline-warning">Detalle de Departamento</a>
        
    </div>

</p>