<%= content_for :head do %>
	<title>Búsqueda de Citas</title>
<% end %>

<%= content_for :intro do %>
	<h3>Búsqueda de Citas</h3>
<% end %>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Búsqueda por Código</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese Código">
   
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Búsqueda por DNI</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese DNI">

  </div>

   <div class="form-group">
    <label for="exampleInputEmail1">Búsqueda por Apellido</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese Apellido">
   
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Búsqueda por Fecha</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese Fecha">
   
  </div>
   
 

  <button type="submit" class="btn btn-primary">Buscar Cita Agendada</button>
</form>



