<%= content_for :head do %>
	<title>Detalle Departamento</title>
<% end %>

<%= content_for :intro do %>
	<br>
	<h3>Detalles del Departamento</h3>
	
<% end %>

	<div class="row">
		<div class="col-5">
		<p>	Caracteristicas del Departamento	</p>
		</div>

		<div class="col-3">
			<a href="/cita/new">
			<button type="button" class="btn btn-primary btn-lg">Solicitar Cita</button>
			</a>
		</div>

		<div class="col-1">
		<button type="button" class="btn btn-secondary btn-lg">Siguiente Departamento</button>
		</div>

	</div>
	<br>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
			<img class="d-block w-100" src="https://img10.naventcdn.com/avisos/resize/11/00/58/19/54/13/1200x1200/209416289.jpg" alt="Departamento 1">
			</div>
			<div class="carousel-item">
			<img class="d-block w-100" src="https://img10.naventcdn.com/avisos/resize/11/00/58/19/54/13/1200x1200/209416290.jpg" alt="Departamento 1">
			</div>
			<div class="carousel-item">
			<img class="d-block w-100" src="https://img10.naventcdn.com/avisos/resize/11/00/58/19/54/13/1200x1200/209416292.jpg" alt="Departamento 1">
			</div>
		</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Anterior</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Siguiente</span>
			</a>
	</div>

	<p>


	<div>
		<h1>Departamento 101</h1>
	</div>

	<div>
	<strong>Ubicado en Primer piso, vista a la calle, 03 dormitorios, 2 y 1/2 baños, 02 terrazas y estacionamiento doble en semi sótano</strong>
	</div>

<div>
	<br>DPTO 101.- <br><br>
	EXCLUSIVO PROYECTO INSPIRADO EN ESTILO DE VIDA. MODERNO EDIFICIO DISEÑADO BAJO UN CONCEPTO QUE TRASMITE ELEGANCIA, 
	MODERNIDAD, COMODIDAD Y FUNCIONALIDAD CUENTA CON SISTEMA ACÚSTICO. UBICADO EN UNA DE LAS MEJORES ZONAS DE SURCO: 
	CHACARILLA, CERCA A PARQUES, COLEGIOS, INSTITUCIONES EDUCATIVAS Y SUPERMERCADOS. 
	<br><br>EL DEPARTAMENTO CONSTA DE 3 DORMITORIOS (EL PRINCIPAL CON BAÑO INCLUIDO) 
	BAÑO SECUNDARIO, SALA COMEDOR CON BALCÓN, BAÑO DE VISITAS, COCINA, LAVANDERÍA, BAÑO DE SERVICIO.
	 <br><br>ENTREGA MARZO 2021. FINANCIADO POR BBVA CONTINENTAL <br><br>ACABADOS DE PRIMERA: PISO LAMINADO EN SALA COMEDOR Y DORMITORIOS. 

</div>


<hr color="#96989A" size=1 />
<h6>Características generales</h6>
<div class="row">
    <div class="col-2">
		<br>
		<b>123m²</b>
		<br>
		<span>Superficie total</span>
	</div>
	<div class="col-2">
		<br>
		<b>99m²</b>
		<br>
		<span>Superficie techada</span>
	</div>
	<div class="col-2">
		<br>
		<b>2</b>
		<br>
		<span>Baños</span>
	</div>
	<div class="col-2">
		<br>
		<b>1</b>
		<br>
		<span>Estacionamiento</span>
	</div>
	<div class="col-1">
		<br>
		<b>1</b>
		<br>
		<span>Medio baño</span>
	</div>
</div>
<br>
<hr color="#96989A" size=1 />
<h6>Servicios</h6>
<br>

<div class="row">
    <div class="col-6">
		<ul>

			<li>Baño de servicio: <b>1</b></li>
			<li>Closet </li>
			<li>Recepción </li>
			<li>En condominio </li>
			<li>Centros Comerciales Cercanos </li>
			<li>Número de departamentos: <b>30</b></li>
		</ul>
	</div>
	    <div class="col-6">
		<ul>

			<li>Cerca a colegios </li>
			<li>Intercomunicador </li>
			<li>Ascensor(es): <b>2</b></li>
			<li>Piso en el que se encuentra: <b>3</b></li>
			<li>Número de pisos: <b>9</b></li>
			<li>Cerca a Parque (a menos de 2 cdras) </li>
	</ul>
	</div>

</div>
	<hr color="#96989A" size=1>
	<h6>Ambientes</h6>
		<ul>
		<li>Sala de entretenimiento</li>
		</ul>
	<hr color="#96989A" size=1>
	<h6>Ubicación</h6>
		<ul>
		<li>Av. Gral. Córdova 522, Cercado de Lima 15073</li>
		</ul>

	<div class="col-7">
			<iframe width="150%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Condominio+Cordova&key=AIzaSyA-mX5Z7eJL5GKASzo5gSNavXxX748a5Y4" allowfullscreen> 
			</iframe>
	</div>
	<br>
	<center>
	<div class="col-3">
			<a href="/cita/new">
			<button type="button" class="btn btn-primary btn-lg">Solicitar Cita</button>
			</a>
	</div>
	</center>
