<%= content_for :head do %>
	<title>Proyectos</title>
<% end %>

<%= content_for :intro do %>
	<h3>Proyectos</h3>
<% end %>

<p>
	Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun 
</p>
<div class="row">
    <div class="col-4">
		<div class="card">
		  <img class="card-img-top" src="https://i.ibb.co/wKFVY5b/depa1.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Proyecto1</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="/static/departamentos" class="btn btn-primary">Ir</a>
		  </div>
		</div>
	</div>
	<div class="col-4">
		<div class="card">
		  <img class="card-img-top" src="https://i.ibb.co/rdX0cCQ/depa2.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Proyecto2</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="/static/departamentos" class="btn btn-primary">Ir</a>
		  </div>
		</div>
	</div>
	<div class="col-4">
		<div class="card">
		  <img class="card-img-top" src="https://i.ibb.co/QHHT9b2/depa3.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Proyecto3</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="/static/departamentos" class="btn btn-primary">Ir</a>
		  </div>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-4">
		<div class="card">
		  <img class="card-img-top" src="https://i.ibb.co/wKFVY5b/depa1.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Proyecto1</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">Ir</a>
		  </div>
		</div>
	</div>
	<div class="col-4">
		<div class="card">
		  <img class="card-img-top" src="https://i.ibb.co/rdX0cCQ/depa2.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Proyecto2</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">Ir</a>
		  </div>
		</div>
	</div>
	<div class="col-4">
		<div class="card">
		  <img class="card-img-top" src="https://i.ibb.co/QHHT9b2/depa3.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Proyecto3</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">Ir</a>
		  </div>
		</div>
	</div>
</div>