    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Nuevo Usuario</h1>
              <span class="color-text-a">Por favor complete los datos del usuario</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/"><button type="button" class="btn btn-light">Inicio</button></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <%= link_to 'Usuarios', usuarios_path, :class => "btn btn-light" %>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>

<%= render 'form', usuario: @usuario %>

